@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.App {
  text-align: center;
}

input {
  @apply border border-gray-300 rounded-md px-3 py-2;
}

input:focus {
  @apply outline-none ring-2 ring-blue-500 border-blue-500;
}